@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
	background-color: gray;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

table,
tr,
td,
th {
	border: none;
	background-color: "red";
}

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: #f3f4f6;
	border-radius: 10px;
	width: auto;
	height: auto;
	overflow: hidden;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
